<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo2.dao.BookMapper">
    <resultMap id="BaseResultMap" type="com.demo2.pojo.entity.Book">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="publisher" jdbcType="VARCHAR" property="publisher"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
    </resultMap>

    <select id="findByName" resultMap="BaseResultMap">
    select
    *
    from
    book
    where
    name like concat('%',#{keyword},'%')
  </select>
    <select id="findRecordById" resultType="java.util.HashMap">
        SELECT
book.`name`,
book.publisher,
book.author,
`user`.username,
`user`.`name` AS name_0,
record.id,
record.create_time,
record.return_time,
record.user_id,
record.book_id
FROM
record
JOIN book
ON record.book_id = book.id
JOIN `user`
ON record.user_id = `user`.id
where user_id = #{userId}
    </select>

    <select id="findAllRecord" resultType="java.util.HashMap">
        SELECT
        book.`name`,
        book.publisher,
        book.author,
        `user`.username,
        `user`.`name` AS name_0,
        record.id,
        record.create_time,
        record.return_time,
        record.user_id,
        record.book_id
        FROM
        record
        JOIN book
        ON record.book_id = book.id
        JOIN `user`
        ON record.user_id = `user`.id
        where book.`name` like concat('%',#{keyword},'%')
    </select>
</mapper>