<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.AttentionMapper">
    <resultMap id="BaseResultMap" type="cn.edu.xmut.izhihu.pojo.entity.Attention">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="att_id" jdbcType="VARCHAR" property="attId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <select id="countByAttId" resultType="java.lang.Integer">
        SELECT
        COUNT(attention.user_id)
        FROM
        attention
        WHERE
        att_id = #{attId}
    </select>
</mapper>