<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.ColumnMapper">
  <resultMap id="BaseResultMap" type="cn.edu.xmut.izhihu.pojo.entity.ColumnDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del" jdbcType="INTEGER" property="del" />
    <result column="desc" jdbcType="LONGVARCHAR" property="desc" />
  </resultMap>
</mapper>