<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.FavoritesMapper">
    <resultMap id="BaseResultMap" type="cn.edu.xmut.izhihu.pojo.entity.FavoritesPO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="favorites_id" jdbcType="INTEGER" property="favoritesId" />
    <result column="favorites_name" jdbcType="VARCHAR" property="favoritesName" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="is_public" jdbcType="INTEGER" property="isPublic" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>