<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.FavoriteMapper">
    <resultMap id="BaseResultMap" type="cn.edu.xmut.izhihu.pojo.entity.Favorite">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="favorite_id" jdbcType="VARCHAR" property="favoriteId"/>
        <result column="favorite_name" jdbcType="VARCHAR" property="favoriteName"/>
        <result column="describes" jdbcType="VARCHAR" property="describes"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="is_public" jdbcType="INTEGER" property="isPublic"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="countFavArt" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
        count(favorite_article.article_id)
        FROM
        favorite_article
        WHERE
        favorite_article.favorites_id = #{id}
    </select>

    <select id="countFavAtt" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
        COUNT(attention.user_id)
        FROM
        attention
        WHERE
        att_id = #{id}
    </select>

    <select id="getFavRandom" resultMap="BaseResultMap">
        SELECT * FROM favorite where is_public = 1 ORDER BY rand() LIMIT #{num}
    </select>

    <select id="getAttFavByUser" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        favorite
        JOIN attention
        ON favorite.favorite_id = attention.att_id
        WHERE
        izhihu.attention.user_id = #{userId}
        and
        izhihu.attention.type = 7
    </select>

    <select id="getArticleByFav" resultType="java.util.HashMap">
        SELECT
users.`name`,
article.article_id,
article.type,
article.ques_id,
article.title,
article.photo_url,
article.content,
article.author_id,
article.anonymity,
article.comment_num,
article.report_num,
article.create_time,
article.update_time,
article.del
FROM
favorite_article
JOIN article
ON favorite_article.article_id = article.article_id
JOIN favorite
ON favorite.favorite_id = favorite_article.favorites_id
JOIN users
ON article.author_id = users.user_id
WHERE
favorite.favorite_id = #{id}
and
article.del = 0
    </select>




</mapper>