<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.HotListMapper">
    <resultMap id="BaseResultMap" type="cn.edu.xmut.izhihu.pojo.entity.HotList">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="content_id" jdbcType="VARCHAR" property="contentId"/>
        <result column="hot_num" jdbcType="INTEGER" property="hotNum"/>
        <result column="category_type" jdbcType="INTEGER" property="categoryType"/>
    </resultMap>

    <resultMap id="HotListResultMap" type="cn.edu.xmut.izhihu.pojo.vo.HotListVO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="content_id" jdbcType="VARCHAR" property="contentId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="hot_num" jdbcType="INTEGER" property="hotNum"/>
        <result column="category_type" jdbcType="INTEGER" property="categoryType"/>
    </resultMap>

    <select id="listByCategoryType" resultMap="HotListResultMap">
        SELECT
        article.content,
        hot_list.id,
        hot_list.type,
        hot_list.content_id,
        hot_list.hot_num,
        hot_list.category_type
        FROM
        hot_list
        JOIN article
        ON hot_list.content_id = article.article_id
        WHERE
        hot_list.category_type = #{categoryType}
        LIMIT 10
    </select>
</mapper>