<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.QuestionMapper">
    <resultMap id="BaseResultMap" type="cn.edu.xmut.izhihu.pojo.entity.Question">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ques_id" jdbcType="VARCHAR" property="quesId"/>
        <result column="questioner_id" jdbcType="VARCHAR" property="questionerId"/>
        <result column="ques_name" jdbcType="VARCHAR" property="quesName"/>
        <result column="photo_url" jdbcType="VARCHAR" property="photoUrl"/>
        <result column="answer_num" jdbcType="INTEGER" property="answerNum"/>
        <result column="attention_num" jdbcType="INTEGER" property="attentionNum"/>
        <result column="browse_num" jdbcType="INTEGER" property="browseNum"/>
        <result column="anonymity" jdbcType="INTEGER" property="anonymity"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del" jdbcType="INTEGER" property="del"/>
        <result column="ques_describe" jdbcType="LONGVARCHAR" property="quesDescribe"/>
    </resultMap>
    <select id="findAnsByQues" resultType="java.util.HashMap">
        SELECT
question.ques_id,
article.article_id,
article.type,
article.title,
article.photo_url,
article.content,
article.author_id,
article.anonymity,
article.comment_num,
article.report_num,
article.create_time,
users.`name`
FROM
question
JOIN article
ON question.ques_id = article.ques_id
JOIN users
ON article.author_id = users.user_id
WHERE
izhihu.question.ques_id = #{quesId}
    </select>

    <select id="getQuesRandom" resultType="java.util.HashMap">
        SELECT
users.`name`,
question.ques_id,
question.questioner_id,
question.ques_name,
question.ques_describe,
question.photo_url,
question.answer_num,
question.attention_num,
question.browse_num,
question.anonymity,
question.create_time,
question.update_time
FROM
question
JOIN users
ON question.questioner_id = users.user_id
WHERE
izhihu.question.del = 0
ORDER BY RAND() LIMIT 5
    </select>
    <select id="getHotList" resultMap="BaseResultMap" >
        SELECT
        question.*
        FROM
        question
        WHERE del = 0
        ORDER BY
        question.browse_num DESC
    </select>

    <select id="findQuesByName" resultMap="BaseResultMap" >
        SELECT
        question.*
        FROM
        question
        WHERE
        del = 0
        and (
            ques_name like concat('%',#{keyword},'%')
            or
            ques_describe like concat('%',#{keyword},'%')
        )
    </select>
</mapper>