<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.SysMapper">


    <select id="findArticle" resultType="java.util.HashMap">
        SELECT
        users.`name`,
        article.*
        FROM
        article
        JOIN users
        ON article.author_id = users.user_id
        <if test="keyword != null and keyword != '' ">
            where
            article.title like concat('%',#{keyword},'%')
            OR
            article.content like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="findQues" resultType="java.util.HashMap">
        SELECT
users.`name`,
question.*
FROM
question
JOIN users
ON question.questioner_id = users.user_id
        <if test="keyword != null and keyword != '' ">
            where
            question.ques_name like concat('%',#{keyword},'%')
            OR
            question.ques_describe like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="findComment" resultType="java.util.HashMap">
        SELECT
        `comment`.id,
        `comment`.comment_id,
        `comment`.is_reply,
        `comment`.reply_id,
        `comment`.commentator_id,
        users.`name`,
        `comment`.comment_content,
        `comment`.praise_num,
        `comment`.create_time
        FROM
        `comment`
        JOIN users
        ON `comment`.commentator_id = users.user_id
        <if test="keyword != null and keyword != '' ">
            where
            `comment`.comment_content like concat('%',#{keyword},'%')
        </if>

    </select>

    <select id="findTopic" resultType="java.util.HashMap">
        SELECT
        topic.*
        FROM
        topic
        <if test="keyword != null and keyword != '' ">
            where
            topic.topic_name like concat('%',#{keyword},'%')
        </if>
    </select>

    <select id="findFar" resultType="java.util.HashMap">
        SELECT
users.`name`,
favorite.*
FROM
favorite
JOIN users
ON favorite.user_id = users.user_id
        <if test="keyword != null and keyword != '' ">s
            where
            favorite.favorite_name like concat('%',#{keyword},'%')
        </if>

    </select>

<!--    Integer browseNum();
    Integer artNum();
    Integer quesNum();
    Integer commentNum();
    Integer ();
    Integer ();
    Integer ();-->
    <select id="browseNum" resultType="java.lang.Integer">
SELECT
SUM(question.browse_num) AS browseNum
FROM
question
    </select>
    <select id="artNum" resultType="java.lang.Integer">
SELECT
COUNT(article.article_id) AS artNum
FROM
article
    </select>
    <select id="quesNum" resultType="java.lang.Integer">
SELECT
COUNT(question.ques_id) AS quesNum
FROM
question;
    </select>
    <select id="commentNum" resultType="java.lang.Integer">
SELECT
COUNT(`comment`.id) AS commentNum
FROM
`comment`

    </select>
    <select id="agreeNum" resultType="java.lang.Integer">
SELECT
SUM(agree_oppose.agr_opp) AS agreeNum
FROM
agree_oppose
    </select>
    <select id="attNum" resultType="java.lang.Integer">
SELECT
COUNT(attention.att_id) AS attNum
FROM
attention
    </select>
    <select id="topicNum" resultType="java.lang.Integer">
SELECT
COUNT(topic.topic_id) AS topicNum
FROM
topic
    </select>
    <select id="userNum" resultType="java.lang.Integer">
        SELECT
COUNT(users.user_id) AS userNum
FROM
users
    </select>

    <select id="artAna" resultType="java.util.HashMap">
        SELECT
        DATE_FORMAT(create_time,'%Y%m%d') as dateString,
        count(*) as count
        FROM
        article
        GROUP BY
        dateString
    </select>

    <select id="quesAna" resultType="java.util.HashMap">
        SELECT
        DATE_FORMAT(create_time,'%Y%m%d') as dateString,
        count(*) as count
        FROM
        question
        GROUP BY
        dateString
    </select>

    <select id="comAna" resultType="java.util.HashMap">
        SELECT
        DATE_FORMAT(create_time,'%Y%m%d') as dateString,
        count(*) as count
        FROM
        `comment`
        GROUP BY
        dateString
    </select>

    <select id="findUser" resultType="java.util.HashMap">
        SELECT
users.user_id,
users.email,
users.phone,
users.`name`,
users.photo_url,
users.last_login_time,
users.del,
users.forbidden,
users.forbidden_time,
users.gmt_create
FROM
users
        <if test="keyword != null and keyword != '' ">
            where
            users.`name` like concat('%',#{keyword},'%')
            or
            users.email like concat('%',#{keyword},'%')
            or
            users.phone like concat('%',#{keyword},'%')
        </if>
    </select>

</mapper>