<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.TopicMapper">
    <resultMap id="BaseResultMap" type="cn.edu.xmut.izhihu.pojo.entity.Topic">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="topic_id" jdbcType="VARCHAR" property="topicId"/>
        <result column="topic_name" jdbcType="VARCHAR" property="topicName"/>
        <result column="topic_desc" jdbcType="VARCHAR" property="topicDesc"/>
        <result column="topic_father_id" jdbcType="VARCHAR" property="topicFatherId"/>
        <result column="photo_url" jdbcType="VARCHAR" property="photoUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="getTopicArticle" resultType="java.util.HashMap">
        SELECT
            article.article_id,
            article.author_id,
            article.content,
            article.photo_url,
            article.anonymity,
            users.`name`,
            article.comment_num,
            article.report_num,
            article.create_time,
            article.type,
            article.ques_id,
            question.ques_name
            FROM
            topic
            JOIN topic_content
            ON topic.topic_id = topic_content.topic_id
            JOIN article
            ON topic_content.content_id = article.article_id
            AND topic_content.type = article.type
            JOIN users
            ON article.author_id = users.user_id
            JOIN question
            ON question.ques_id = article.ques_id
            WHERE
            topic.topic_id = #{topicId}
            ORDER BY
            article.update_time DESC
    </select>

    <select id="getAttedTopic" resultMap="BaseResultMap">
        SELECT
topic.topic_id,
topic.topic_name,
topic.topic_desc,
topic.topic_father_id,
topic.photo_url,
topic.create_time
FROM
attention
JOIN users
ON attention.user_id = users.user_id
JOIN topic
ON attention.att_id = topic.topic_id
WHERE
users.user_id = #{userId}
and
izhihu.attention.type = 5
    </select>
    <select id="getTopicRandom" resultMap="BaseResultMap">
        SELECT * FROM topic ORDER BY rand() LIMIT #{num}
    </select>
</mapper>