<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xmut.izhihu.dao.test.UsersMapper">
  <resultMap id="BaseResultMap" type="cn.edu.xmut.izhihu.pojo.entity.UserDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl"/>
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
    <result column="token" jdbcType="VARCHAR" property="token"/>
    <result column="token_take_effect_time" jdbcType="TIMESTAMP" property="tokenTakeEffectTime"/>
    <result column="token_age" jdbcType="INTEGER" property="tokenAge"/>
    <result column="del" jdbcType="INTEGER" property="del"/>
    <result column="forbidden" jdbcType="INTEGER" property="forbidden"/>
    <result column="forbidden_time" jdbcType="TIMESTAMP" property="forbiddenTime"/>
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    <result column="user_create" jdbcType="VARCHAR" property="userCreate"/>
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    <result column="user_modified" jdbcType="VARCHAR" property="userModified"/>
  </resultMap>

  <update id="updateTokenDisabled">
    update user
    <set>
      token = null,
      token_take_effect_time = null,
      token_age = null
    </set>
    <where>
      user_id = #{id}
    </where>
  </update>

  <select id="checkRepeat" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        count(*)
        from user
        where
          phone = concat('%',#{account},'%') or
          email = concat('%',#{account},'%')
    </select>
</mapper>